{% extends 'base.html' %}
{% block content %}
<h1>Guestbook</h1>
<p><a href="{% url 'guestbook:post' %}">Add a new post</a></p>
{% if posts %}
<h2>Posts</h2>
<ul>
    {% for post in posts %}
        <li><strong>{{ post.author }} {{ post.date }}</strong><br>
            {{ post.comment|linebreaks }}
        </li>
    {% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a> | 
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a> | 
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endif %}
{% else %}
    <p>No posts were found.</p>
{% endif %}
{% endblock %}
